In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
!ls -1

amazon_comprehend.ipynb
IMDB_movie_ratings_sentiment_analysis.zip
IMDB_sentiment_analysis_cleanup.ipynb
IMDB_sentiment_analysis_trunc.txt
output
output.tar.gz

In [3]:
df_raw = pd.read_csv('IMDB_movie_ratings_sentiment_analysis.zip')

In [4]:
df_raw

                                                    text  label
0      I grew up (b. 1965) watching and loving the Th...      0
1      When I put this movie in my DVD player, and sa...      0
2      Why do people who do not know what a particula...      0
3      Even though I have great interest in Biblical ...      0
4      Im a die hard Dads Army fan and nothing will e...      1
...                                                  ...    ...
39995  "Western Union" is something of a forgotten cl...      1
39996  This movie is an incredible piece of work. It ...      1
39997  My wife and I watched this movie because we pl...      0
39998  When I first watched Flatliners, I was amazed....      1
39999  Why would this film be so good, but only gross...      1

[40000 rows x 2 columns]

In [5]:
#Sentiment: 0 - negative 1 - positive
df_raw['label'].value_counts()

0    20019
1    19981
Name: label, dtype: int64

In [6]:
df_raw['len'] = df_raw['text'].str.len()

In [7]:
df_raw['len'].describe().to_frame()

                len
count  40000.000000
mean    1310.293250
std      988.358599
min       32.000000
25%      698.000000
50%      973.000000
75%     1596.000000
max    13704.000000

In [8]:
df_raw[df_raw['len'] < 1500]

                                                    text  label   len
0      I grew up (b. 1965) watching and loving the Th...      0   874
2      Why do people who do not know what a particula...      0   983
3      Even though I have great interest in Biblical ...      0   351
4      Im a die hard Dads Army fan and nothing will e...      1   983
5      A terrible movie as everyone has said. What ma...      0   596
...                                                  ...    ...   ...
39992  Although I agree that it's a good but not grea...      1   873
39996  This movie is an incredible piece of work. It ...      1   291
39997  My wife and I watched this movie because we pl...      0  1092
39998  When I first watched Flatliners, I was amazed....      1  1045
39999  Why would this film be so good, but only gross...      1   727

[28978 rows x 3 columns]

In [9]:
df = df_raw[df_raw['len'] < 1500][:5000]
df

                                                   text  label   len
0     I grew up (b. 1965) watching and loving the Th...      0   874
2     Why do people who do not know what a particula...      0   983
3     Even though I have great interest in Biblical ...      0   351
4     Im a die hard Dads Army fan and nothing will e...      1   983
5     A terrible movie as everyone has said. What ma...      0   596
...                                                 ...    ...   ...
6874  Romuald et Juliette is one of those French rom...      1   746
6875  "The Ex-Mrs. Bradford" (1936), starring Thin M...      1  1058
6876  I watched this movie the other night, and I ha...      1   667
6878  If it's an art and essay film, there is not en...      0   901
6879  This movie really surprised me. I had my doubt...      1  1017

[5000 rows x 3 columns]

In [10]:
pd.set_option('display.max_colwidth', None)

In [11]:
df['text'].sample(1)

3912    The sequel to the ever popular Cinderella story reminded me somewhat of what they did with one of the Beauty & the Beast movies. It's basically three short stories rolled into 1.<br /><br />OK, the mice are adorable (I love Gus! He's sooo cute!), and Lucifer's awesome (as usual). I liked some of the newer characters as well, (Pom Pom was adorable and I did like Prudence.). Still, the storyline was somewhat limited, but still very cute. So, I vote 7/10.
Name: text, dtype: object

In [12]:
df['text'].to_csv('IMDB_sentiment_analysis_trunc.txt', index=False, header=False)

In [13]:
df.to_csv('IMDB_sentiment_analysis.csv', index=False)

In [14]:
!cat IMDB_sentiment_analysis_trunc.txt | wc -l

5000